.greenButton,
.redButton {
  border-radius: 40px;
  color: white;
  font-weight: 700;
  font-size: larger;
  border: none;
  min-width: 25vw;
  min-height: 4vh;
  margin: 3vh;
  margin-top: none;
}
.greenButton:hover {
  background-color: #abd1b589;
}
.redButton:hover {
  background-color: #b34c4c8b;
}

.greenButton {
  background-color: #abd1b5;
}
.redButton {
  background-color: #b34c4c;
}
