.option-container {
  color: white;
  display: flex;
  text-align: left;
  gap: 5px;
  max-width: 50vw;
}
.option-container:hover {
  cursor: pointer;
}
.error-text {
  color: rgb(188, 112, 112);
  font-weight: 500;
  font-size: 20px;
}
.CA-container {
  height: max(62vh, 500px);
  margin-bottom: max(10vh, 100px);
  justify-content: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: left;
}
