.l_headerText,
.s_headerText,
.bl_headerText,
.bs_headerText {
  color: white;
  font-weight: 650;
  text-align: center;
  margin: 0;
}
.l_headerText,
.bl_headerText {
  font-size: 35px;
}
.s_headerText,
.bs_headerText {
  font-size: 25px;
}

.bs_headerText,
.bl_headerText {
  color: #208aae;
  margin-left: 10px;
  margin-right: 5px;
}
.bottom-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.normalText,
.noBoldText {
  font-size: 120%;
  color: white;
}
.normalText {
  font-weight: 500;
}
.noBoldText,
.smallText {
  font-weight: 200;
}
.smallText {
  font-size: 80%;
  color: white;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vh;
}
.header-container {
  display: flex;
  justify-content: center;
}
