.l_headerText,
.s_headerText,
.bl_headerText,
.bs_headerText {
  color: white;
  font-weight: 650;
  text-align: center;
  margin: 0;
  text-wrap: nowrap;
}
.l_headerText,
.bl_headerText {
  font-size: min(4vw, 35px);
}
.s_headerText,
.bs_headerText {
  font-size: 25px;
}

.bs_headerText,
.bl_headerText {
  color: #208aae;
  margin-left: 10px;
  margin-right: 5px;
}
.bottom-container {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #4e4d5c;
}
.top-container {
  position: fixed;
  top: 22vh;
  left: 0;
  width: 100%;
}
.normalText,
.noBoldText {
  font-size: 120%;
  user-select: none;
  color: white;
}
.normalText {
  font-weight: 500;
}
.noBoldText,
.smallText {
  user-select: none;
  font-weight: 200;
  margin: 0px;
}
.smallText {
  font-size: 80%;
  color: white;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vh;
}
.header-container {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-content: center;
  max-height: 60px;
  width: 100vw;
}
@media (min-height: 800px) {
  .bottom-container {
    position: fixed;
  }
}
